header {
  position: fixed;

  background-color: white;
  margin-left: -10%;

  padding: 1.2rem 5rem;
  border: 1px solid black;
}
#try {
  top: 3%;
  left: 11%;
  width: 97%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
nav a {
  font-size: 1.5rem;
  text-decoration: none;
}
nav a#logo {
  color: black;
  font-weight: 700;
}
nav ul a {
  color: black;
  font-weight: 600;
}
nav ul a:hover {
  border-bottom: 2px solid #ffffff;
}
section#home {
  height: 100vh;
  display: grid;
  place-items: center;
}
h1 {
  font-size: 4rem;
}
#ham-menu {
  display: none;
}
nav ul.active {
  left: 0;
}
#nav-bar li {
  float: left;
  padding: 0 20px;
  font-size: 14px;
  border-right: 1px black solid;
}

#nav-bar li:last-child {
  border-right: none;
}
.logo-set {
  left: 5%;
}
.name {
  /* margin-right: 10px; */
  margin-top: -13px;
  cursor: pointer;
  margin-right: 80px;
  float: right;
  font-size: 13px;
}

.name:hover {
  color: white;
}

.nav.nav-tabs {
  background-color: aqua;
}

.nav-item a {
  color: brown;
  display: flex;
}

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: white;
  position: relative;
  margin-top: -12%;
  margin-right: 10%;
  left: -0.5%;
  width: 98.5%;
  text-decoration: none;
}

/* Style the links inside the navigation bar */
.topnav button {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav button:hover {
  background-color: #ddd;
  color: blue;
}

/* Style the "active" element to highlight the current page */
.topnav button.active {
  background-color: #2196f3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */

.bottom-nav {
  background-color: rgb(171, 212, 228);
  height: 250px;
  padding: 2rem;
}

.palak {
  padding: 1rem;
  margin: 1.8rem;
  width: 230px;
}

.palak2 {
  text-align: center;
}

.search {
  background-color: white;
  background-repeat: no-repeat;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  float: right;
  margin: 6px;
  width: 150px;
  height: 40px;
}

.search:hover {
  background-color: rgb(230, 170, 59);
  color: white;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin-right: 50px; /* Important for vertical align on mobile phones */
  overflow: hidden;
  display: inline-block;
}

/* Add a background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: white;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: center;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: none;
  position: relative;
  text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.table-try {
  width: 500%;
  height: 300px;
  border-collapse: collapse;
  margin-top: 20px;
  padding: 1%;
}
.table-try2 {
  width: 200px;
  padding: 1%;
}

th {
  border-bottom: 0px solid black;
  background-color: white;
  padding-bottom: 15px;
}

td {
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #abd4e4;
}
